.zitibackground1{
       height: 100px;
       width: 710px;
      line-height: 100px;
      font-size: 40px;
      font-weight: 1000;
      color: rgba(78, 75, 75,.1);
      background-image: url(2.jpg);
      background-size: 28% 140%;
      -webkit-background-clip: text;
      text-transform:uppercase; 
}
